
.w{
	background-color: yellow;
	text-decoration: none;
}
.x{
	background-color: #cde0eb;
	text-decoration: none;
}
.y{
	background-color: pink;
	text-decoration: none;
} 
.z{
	background-color: #d3ec9e;
	text-decoration: none;
}
.frq{
	font-size: 6px;
}
.tt{
	text-align: left;
}

.hebr{
	text-decoration: none;
}